<!DOCTYPE html>
<html>
<head>
    <title>Celery Example</title>
</head>
<body>
    <h1>My Celery</h1>
    <font class="green-text" style="color: green; font-size:30px; "> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Welcome </font></left>
<ul>
    <li><a href="">Home Page</a></li>
    {#    <li><a href="{% url 'selEvent' %}">Events</a></li>#}
    <li><a href="{% url 'runAPS' %}">Run </a></li>
{#    <li><a href="{% url 'stopAPS' %}">Stop APScheduler</a></li>#}
</ul>
</font>
<br/>
</body>
</html>